# Virtual environments
shared-envs/
.venv/
env/

# Environment variables
.env

# Python cache files
**/__pycache__/
*.py[cod]

# Jupyter Notebook checkpoints
**/.ipynb_checkpoints/

# Others
*.log
*.tmp
*.swp
*.bak
